# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/

# Virtual environment
.venv/
venv/
env/

# -------------------------
# FastAPI / Uvicorn
# -------------------------
*.log

# -------------------------
# Project Data (raw + cleaned)
# -------------------------
src/backend/models/upload_csv/
src/backend/models/save_csv/

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
